/* General CSS */
html{
    background-color: grey;
  
}
h1{
    color: #1d0039;
}
p{
    color: #2a0052;
    font-size: x-large;
    font-style: bold;
}

nav{
    border-style: groove;
    border-width: thick;
    border-color: black;
    margin-right: inherit;
    background-color: #51009d;
    font-size: 20px;
    width: 400px;
    color: #1d0039;
}


a:link {
    color: rgb(0, 0, 0);
  }
  a:visited {
    color: white;
  }
  
  a:hover {
    color: rgb(42, 0, 82);
    text-decoration:double;
  }
  
  a:active {
    color: rgb(81, 0, 157);
  }







  /* Index CSS */
  #GamesIvePlayed{
    max-width: 275px;
    border-style: groove;
    border-width: 15px;
    border-color: black;
    margin-right: inherit;
    background-color: white;
}
  button{
    border-style: groove;
    border-width: thick;
    border-color: black;
    margin-right: inherit;
    background-color: #51009d;
    font-size: 15px;
    color: #1d0039;
  }
  #PhotoOfMe{
    border-color: #2a0052;
    border-style: inset;
    border-radius: 150px;
    outline-color:#2a0052;
    border-width: 15px;
    margin-left: 30px;
}
#indexText{
  border-style: groove;
  border-width: 4px;
  border-color: black;
  width: 575px;
  background-color: #51009d;
  font-size: 30px;
  color: #1d0039;

}










/* About Me CSS */
  #aboutmeimages{
    max-width: 400px;
    border-style: groove;
    border-width: 15px;
    border-color: black;
    margin-right: inherit;
    margin-top: 75px;
    background-color: white;
  }
  #aboutmetext{
    max-width: 600px;
  }
  .column{
    column-count: 2;
    column-gap: normal;
  }






  /* My Skills CSS */
  
  #skills{
    border-style: groove;
    border-width: 5px;
    border-color: black;
    margin-right: inherit;
    background-color: #51009d;
    font-size: 25px;
    color: white;
    width: 350px;
    top: 75px;
  }
  #mySkills{
    color: white;
    font-size: 20px;
  }
  #skillsHTML{
    /* background-image: url(./images/OIP.jpg); */
    background-image: repeating-conic-gradient(black 10%, #51009d 20%); 
   }

#skillsH1{
  color: white;
}






   /* My Projects */
   #projectText{
    color: white;
    border-style: groove;
    border-width: thick;
    border-color: black;
    margin-right: inherit;
    background-color: #2a0052;
    max-width: 500px;
     }
     #bigProjectText{
      color: white;
      border-style: groove;
      border-width: thick;
      border-color: black;
      margin-right: inherit;
      background-color: #2a0052;
      max-width: 750px;
     }