html{
    background-color: #1d0039;
}
h1{
    color: #38006c;
}
p{
    color: #3f007b;
}
#PhotoOfMe{
    border-color: #2a0052;
    border-style: inset;
    border-radius: 150px;
    outline-color:#2a0052;
    border-width: 15px;
    margin-left: 30px;
}